node_modules/
.env
.env.local
.Netlify
.netlify/
dist/
build/
.next/
.cache/
*.log
.DS_Store
*.db
*.db-journal
/prisma/dev.db
/prisma/dev.db-journal
/prisma/migrations/**/migration_lock.toml.bak
*.tsbuildinfo
.vercel
.env.*
!.env.example
